# AVAILABLE COLORS:
# kMagenta
# kBlue
# kOrange
# kRed
#####################################################
#FORMAT: input root histo-name line-color area-color
#####################################################
HISTOGRAM config/PhotonMET/limits_GGM.root h_obs_xs
EXPECTED config/PhotonMET/limits_GGM.root gr_expC_sm gr_exp+1C_sm gr_exp-1C_sm kRed kOrange
OBSERVED config/PhotonMET/limits_GGM.root gr_obsC_sm gr_obs+1C_sm gr_obs-1C_sm kBlack kGray
# Preliminary Simulation or leave empty
PRELIMINARY preliminary
# Lumi in fb
LUMI 2.3
# Beam energy in TeV
ENERGY 13
#